:root {
    --numberOfBoxes: 7;
}

html {
  width: 100%;
  height: 100vh;
  font-size: 100%;
  margin: 0;
}

body {
  background-color: black;
  overflow: hidden; /* Hide scrollbars */
  width: 100%;
  height: 100vh;
  margin: 0;
  color: white;
}

@media (orientation: landscape) {

.display {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px;
  border: 0px;
  background-color: black;
  font-family: Handset;
}

.nightMode {
  color: red!important;
}

.dayNight {
}

.box_0 {
  display: block;
  position: absolute;
  left: 0%;
  top: 0px;
  width: 25%;
  height: 50%;
  border-bottom:0.1rem solid #404040;
}

.box_1 {
  display: block;
  position: absolute;
  left: 25%;
  top: 0px;
  width: 25%;
  height: 50%;
  border-bottom:0.1rem solid #404040;
}

.box_2 {
  display: block;
  position: absolute;
  left: 50%;
  top: 0px;
  width: 25%;
  height: 50%;
  border-bottom:0.1rem solid #404040;
}

.box_3 {
  display: block;
  position: absolute;
  left: 75%;
  top: 0%;
  width: 25%;
  height: 50%;
  border-bottom:0.1rem solid #404040;
}

.box_4 {
  display: block;
  position: absolute;
  left: 0%;
  top: 50%;
  width: 25%;
  height: 50%;
}

.box_5 {
  display: block;
  position: absolute;
  left: 25%;
  top: 50%;
  width: 25%;
  height: 50%;
}

.box_6 {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
}


}

@media (orientation: portrait) {

html {
  font-size: 200%;
}

.display {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px;
  border: 0px;
  background-color: black;
  font-family: Handset;
}

.nightMode {
  color: red!important;
}

.box_0 {
  display: block;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 50%;
  height: 25%;
  border-bottom:0.1rem solid #404040;
}

.box_1 {
  display: block;
  position: absolute;
  left: 50%;
  top: 0%;
  width: 50%;
  height: 25%;
  border-bottom:0.1rem solid #404040;
}

.box_2 {
  display: block;
  position: absolute;
  left: 0%;
  top: 25%;
  width: 50%;
  height: 25%;
  border-bottom:0.1rem solid #404040;
}

.box_3 {
  display: block;
  position: absolute;
  left: 50%;
  top: 25%;
  width: 50%;
  height: 25%;
  border-bottom:0.1rem solid #404040;
}

.box_4 {
  display: block;
  position: absolute;
  left: 0%;
  top: 50%;
  width: 50%;
  height: 25%;
  border-bottom:0.1rem solid #404040;
}

.box_5 {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 25%;
  border-bottom:0.1rem solid #404040;
}

.box_6 {
  display: block;
  position: absolute;
  left: 0%;
  top: 75%;
  width: 100%;
  height: 25%;
}

.navigationArrowValue {
  left: 0px;
  top: 15%;
  width: 60%;
  height: 100%;
  font-size: 45rem;
}

.navigationArrowArrow {
  left: -2%;
  right: 0%;
  top: 0%;
  width: 40%;
  height: 100%;
  font-size: 8rem;
  text-align: center;
}

}

}
